/* CSS Document */
*{margin:0px; padding:0px; font-size:12px; font-family:"宋体","Arial Narrow";}
ul,li,p,img,a,span{border:none; list-style-type:none; margin:0; padding:0;}
a{text-decoration:none;}
.main{ width:298px; zoom:1;}

/***友情连接***/
.friends_link{  background:#f3f3f3; _margin:10px 0 0 0; position:relative;*margin:10px 0 0 0; border:solid 1px #d3d3d3; margin-top:20px;}
.f_tit{ font-size:14px; font-weight:bold; color:#737373; background:url(../images/link_bg.jpg) repeat-x; line-height:32px; height:32px;_line-height:32px; _height:22px;border-bottom:solid 1px #ededed; margin-bottom:5px; padding-left:10px; _margin-top:10px;}
.friends_link a{ color:#646464; padding:4px 3px; line-height:20px; }
.friends_link a:hover{ color:#F00; }

/***友情连接下拉***/
.link{ height:22px; overflow:hidden; position:relative; margin:0px 30px 5px 20px;*margin:0px 30px 5px 20px;}
.link_click{ height:auto; overflow:hidden; position:relative;margin:0px 30px 5px 20px;*margin:0px 30px 5px 20px;}
.link_ico{background:url(../images/link_ico_2.jpg) no-repeat; display:inline-block;position:absolute;height:5px;_height:5px; cursor: pointer; cursor:hand;width:9px;_width:9px;right:10px;top:48px;*top:46px;}
.link_title{ background:url(../images/index_ico.gif) no-repeat; margin-bottom:-3px; height:14px; width:13px; display:inline-block; margin-right:5px;}
