#pages {
    font-family: 宋体;
    padding: 14px 0 10px;
    text-align: center;
}

#pages a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E3E3E3;
    color: #333333;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px 0 10px;
    text-align: center;
	margin-right:10px;
}
#pages a.a1 {
    background: url("../images/pages.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    padding: 0;
    width: 56px;
}

#pages span {
    background: none repeat scroll 0 0 #cb9394;
    border: 1px solid #E3E3E3;
    color: #FFFFFF;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    text-align: center;
	margin-right:10px;
}