 @charset "utf-8";
/* CSS Document */


/* 样式复位 */
h1,h2,h3,h4,h5,ul,li,p,form,input,dl,dt,dd {
	margin:0;
	;
	padding:0;
}
ul,li { list-style:none;/* overflow:hidden;*/}
a img { border:none;}
.clear { clear:both;}
.break { margin-bottom:0 !important;}

a:link {color:#ffffff;text-decoration:none}
a:visited {color:#ffffff;text-decoration:none}
a:hover {color:#FF0000;text-decoration:none}
a:active {color:#FF0000;text-decoration:none}

.dtd { height:30px; padding-top:10px;}
	.dtd p { padding:0px; float:right;padding-left:0px; margin:0px; height:30px; line-height:30px;}
	.dtd p img{ vertical-align:middle; position:none; margin:-6px 3px!important; margin:0px 3px;}
	.dtd b img{ vertical-align:middle; position:none; margin:-5px 3px!important; margin:-1px 3px;}
	.dtd b span {padding-top:3px; color:#fd5900;}
	.dtd b {padding:0px; float:right; font-weight: normal; margin:0px;}
	
	.table_page { float:right; padding:0 10px; padding-top:7px; text-align:center;}

	.table1 { height:40px; border-top:1px solid #cfd4d8; font-size:14px;clear:both;;margin-top:3px; float:left;overflow:hidden; width:695px;} 
	.table1 td{ border:1px solid #cfd4d8; border-top:1px solid #cfd4d8;height:25px; line-height:25px; color:#5d677c; padding:1px 3px;}
	.Descending { cursor:pointer;}
	.table1 .haoma { width:auto; padding-left:3px; padding-right:3px; float:left; line-height:20px;*white-space:nowrap;}
	.table1 th {border-bottom:1px solid #cfd4d8; background-color:#939393; height:24px; line-height:24px; font-weight:normal;color:#fff; padding:1px 3px; border-top:none; }
	.table1 .th2 {/*border:1px solid #aaccee; */background-color:#e3e3e3; background-position:left -25px; background-repeat:repeat-x;/* border-top:1px solid #d1e1f1; */height:24px; line-height:24px; font-weight:normal; color:#2c314a; text-align:center; padding:1px 3px; font-weight:bold;}
	/*.table1 tr { background-color: expression('#f2f6f9,#fff'.split(',')[rowIndex%2]); }*/
	.table1 a { color:#0066ff;} 
	.table1 a:link,.table1 a:active,.table1 a:visited { color:#0066ff;}
	.table1 a:hover { color:#FF6600;}
	.table1 img { margin-left:3px; margin-right:3px;}
/* 公共颜色 */
.foot_gry a:link,.foot_gry a:visited {color:#433e3e;text-decoration:none}
.foot_gry a:active,.foot_gry a:hover {color:#4f1717;text-decoration:none}

.wh a:link,.wh a:visited {color:#ffffff;text-decoration:none}
.wh a:active,.wh a:hover {color:#FFff00;text-decoration:none}

.rd a:link,.rd a:visited {color:#ff0000;text-decoration:none}
.rd a:active,.rd a:hover {color:#F60;text-decoration:none}

.gry a:link,.gry a:visited {color:#a0a0a0;text-decoration:none}
.gry a:active,.gry a:hover {color:#FF0000;text-decoration:none}

.gry2 a:link,.gry2 a:visited {color:#434343;text-decoration:none}
.gry2 a:active,.gry2 a:hover {color:#FF0000;text-decoration:none}

.yl a:link,.yl a:visited {color:#FFff00;text-decoration:none}
.yl a:active,.yl a:hover {color:#FFffff;text-decoration:none}

.gre a:link,.gre a:visited {color:#9dffcb;text-decoration:none}
.gre a:active,.gre a:hover {color:#FFff00;text-decoration:none}

.s_gre a:link,.s_gre a:visited {color:#22ac38;text-decoration:none}
.s_gre a:active,.s_gre a:hover {color:#FF0000;text-decoration:none}

.org a:link,.org a:visited {color:#f7941d;text-decoration:none}
.org a:active,.org a:hover {color:#FFff00;text-decoration:none}

.org2 a:link,.org2 a:visited {color:#f7941d;text-decoration:none}
.org2 a:active,.org2 a:hover {color:#FF0000;text-decoration:none}

.s_gre a:link,.s_gre a:visited {color:#22ac38;text-decoration:none}
.s_gre a:active,.s_gre a:hover {color:#FF0000;text-decoration:none}

.s_rd a:link,.s_rd a:visited {color:#ff0000;text-decoration:none}
.s_rd a:active,.s_rd a:hover {color:#600;text-decoration:none}

.blk a:link,.blk a:visited {color:#000000;text-decoration:none}
.blk a:active,.blk a:hover {color:#FF0000;text-decoration:none}

.genc_red {color:#ff0000 !important;}
.genc_gre {color:#22ac38 !important;}




/* 通用头部 */
#Gen_Head { width:100%; height:40px; clear:both; position: relative; z-index:999;}

/* body样式 */
.body_style { margin:0; padding:0; background:url(../images/plant_bg.jpg) top center #FFF no-repeat; font-size:12px; font-family:"宋体"}
.body_style2 { margin:0; padding:0;font-size:12px; font-family:"宋体"}

/* 主框架 */
#Mine { width:996px; padding-top:30px; margin:0 auto;}

/* 子框架 */
#Cont { width:994px; border:1px solid #b2b2b2; background:#f4f4f4; border-bottom:none; height:auto;}

/* 标题栏目 */
#Title { width:942px; height:77px; float:left; clear:both; overflow:hidden; background:url(../images/tittle_bottom_line.gif) bottom repeat-x; padding-left:12px;}
.title_logo { width:121px; height:43px; float:left; /*background: right center url(../images/tittle_line.gif) no-repeat;*/ margin-top:14px;}
.title_text { width:300px; height:23px; float:left; background:url(../images/title_text.gif) no-repeat; margin-left:14px; margin-top:26px;}
.title_text2  { width:300px; height:23px; float:left; background:url(../images/31wan.png) no-repeat; margin-left:14px; margin-top:26px;}
.se_title { width:500px; height:43px; float:left; background: left center url(../images/tittle_line.gif) no-repeat; margin-top:14px;}

/* 标题子栏目 - 注册 */
.tit_reg { width:450px; height:18px; float:left; padding-left:20px; margin-top:15px;}
.tit_reg div { width:120px; height:18px; float:left;}
.tit_reg span { float:right; height:18px; padding-left:10px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.reg_t1 { background:url(../images/passport_text.gif) no-repeat left top;}
.reg_t2 { background:url(../images/passport_text.gif) no-repeat left -18px;}
.reg_t3 { background:url(../images/passport_text.gif) no-repeat left -36px;}
.reg_t4 { background:url(../images/passport_text.gif) no-repeat left -54px;}

/* 左侧框架 */
#Left_frame { width:163px; float:left; background:url(../images/frame_left_bg.gif) no-repeat right top; padding:28px 0 0px 14px; overflow:hidden;}


/* 左侧菜单 */
#Left_menu { width:144px; float: left; clear:both; margin-bottom:40px;}
#Left_menu li { width:144px; height:46px; float:left; clear:both; margin-bottom:5px;}
#Left_menu li a { width:144px; height:46px; float:left; clear:both; }
.menu_1 { background:url(../images/left_menu.gif) left 0 no-repeat;}
.menu_2 { background:url(../images/left_menu.gif) left -46px no-repeat;}
.menu_3 { background:url(../images/left_menu.gif) left -92px no-repeat;}
.menu_4 { background:url(../images/left_menu.gif) left -138px no-repeat;}
.menu_5 { background:url(../images/left_menu.gif) left -184px no-repeat;}
.menu_6 { background:url(../images/left_menu.gif) left -230px no-repeat;}
.menu_7 { background:url(../images/left_menu.gif) left -276px no-repeat;}

.this_on .menu_1 { background:url(../images/left_menu.gif) right 0 no-repeat;}
.this_on .menu_2 { background:url(../images/left_menu.gif) right -46px no-repeat;}
.this_on .menu_3 { background:url(../images/left_menu.gif) right -92px no-repeat;}
.this_on .menu_4 { background:url(../images/left_menu.gif) right -138px no-repeat;}
.this_on .menu_5 { background:url(../images/left_menu.gif) right -184px no-repeat;}
.this_on .menu_6 { background:url(../images/left_menu.gif) right -230px no-repeat;}
.this_on .menu_7 { background:url(../images/left_menu.gif) right -276px no-repeat;}

#sub_m { width:144px; height:130px !important;}
#sub_n { width:144px; height:105px !important;}
.sub_menu { width:142px; height:90px; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; float:left; clear:both; overflow:hidden; margin-bottom:0;}
.sub_menu div { width:142px; height:28px; float:left; clear:both; float:left; text-align:center; line-height:28px; border-bottom:1px dashed #dcdcdc; background:#FFF url(../images/sign.gif) no-repeat 20px center;}
.sub_menu div a { width:142px; height:28px !important;float:left;}
div.this_sub_on { background:#ebebeb url(../images/sign.gif) no-repeat 20px center;}
div.this_sub_on a:link,div.this_sub_on a:visited {color:#434343;text-decoration:none;}
div.this_sub_on a:active,div.this_sub_on a:hover {color:#F60;text-decoration:none;}





/* 右侧框架 */
#Right_frame { width:759px; float:right; overflow:hidden; padding:0px 30px 0px 0px;}

/* 右侧标题 */
.right_tits { width:749px; height:54px; float:left; clear:both; overflow:hidden;}
.right_tits h2 { height:22px; float:left; padding-left:8px; font-size:14px; color:#434343; padding-top:32px; font-weight:bold;}
.right_tits h2 span { padding-left:5px; font-weight:100; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#a0a0a0;}

/* 右侧容器 */
.right_cont {
	width:698px;
	float:left;
	clear:both;
	overflow:hidden;
	border:1px solid #dedede;
	background:#ffffff;
	padding:10px 20px 0 19px;
	margin-bottom:32px;
}
/* 右侧高度限制 */
.right_cont .limt { width:1px; height:450px; float:left;overflow:hidden;}

/* 右侧内容框 */
.right_cont .inbox { width:697px; float:left; overflow:hidden;} 


/* 页脚 */
#Footer { width:100%; height:130px; clear:both; background:#959595; border-top:1px solid #b2b2b2;}
.foot_incont { width:956px; height:106px;  margin:0 auto;}
.foot_logo { width:183px; height:72px; float:left; margin-left:46px; margin-top:17px;}
.foot_links { width:650px; float:left; color:#dcdcdc; margin-left:35px; padding-left:35px; background:url(../images/foot_line.gif) left center no-repeat; margin-top:20px;}
.foot_links li { width:650px; height:22px; line-height:22px;}
#Footer table { width:290px; border-collapse:collapse; float:right; margin-top:15px; margin-right:10px;}
#Footer table td { border:1px solid #706363; background:#777272; height:22px; line-height:22px; padding-left:10px; color:#a5a4a4;}



/* 消息窗 */
.message_box { width:487px; border:1px solid #dddddd; overflow:hidden; clear:both; background:#ffffff;}
.message_box h2 { height:32px; width:472px; float:left; clear:both; overflow:hidden; background:url(../images/reg_gamelist_bg.gif) repeat-x; overflow:hidden; border-bottom:1px solid #dddddd; font-size:12px; line-height:32px; color:#434343; padding-left:15px;}
.message_box h2 .ms_close { width:16px; height:16px; float:right; overflow:hidden; margin-right:8px; margin-top:8px; background:url(../images/ms_close.gif) no-repeat;}
.ms_txtcont { width:437px; padding:15px 25px; float:left; overflow:hidden; clear:both;}
.ms_txtcont p { line-height:24px; font-size:14px; color:#434343; padding-bottom:15px;}
.ms_txtcont p span { color:#900; padding:0 5px;}

.ms_close2 { width:116px; height:29px;clear:both; overflow:hidden; background:url(../images/ms_close2.gif) no-repeat; margin:0 auto; display:block;}

/* 通版框架 */
#Big_cont { width:954px; float:left; clear:both; overflow:hidden; }

/* 通版子框架 */
.Sub_cont { width:753px;border:1px solid #dddddd; margin-left:99px; background:#FFF; float:left; clear:both; overflow:hidden; margin-bottom:33px; display:inline;}



/* 注册信息，个性，邮箱，手机 */

.reg_step { width:954px; height:48px; float:left; clear:both; overflow:hidden;padding-top:28px;}
.text_title { font-size:22px; text-align:center; color:#900; font-weight:bold;}
.step_box { width:954px; height:22px; clear:both; overflow:hidden; }
.r_step1_1 { background:url(../images/step1.gif) no-repeat center top;}
.r_step1_2 { background:url(../images/step1.gif) no-repeat center bottom;}

.r_step2_1 { background:url(../images/step2.gif) no-repeat center top;}
.r_step2_2 { background:url(../images/step2.gif) no-repeat center -22px;}
.r_step2_3 { background:url(../images/step2.gif) no-repeat center bottom;}

.r_step3_1 { background:url(../images/step3.gif) no-repeat center top;}
.r_step3_2 { background:url(../images/step3.gif) no-repeat center -22px;}
.r_step3_3 { background:url(../images/step3.gif) no-repeat center bottom;}

.r_step4_1 { background:url(../images/step4.gif) no-repeat center top;}
.r_step4_2 { background:url(../images/step4.gif) no-repeat center -22px;}
.r_step4_3 { background:url(../images/step4.gif) no-repeat center -44px;}
.r_step4_4 { background:url(../images/step4.gif) no-repeat center -66px;}
.r_step4_5 { background:url(../images/step4.gif) no-repeat center -88px;}

#Pt_login { width:404px; height:279px; background:url(../images/g_login_bg.gif) no-repeat;}
#Pt_login .pt_login_tit { width:404px; height:54px; float:left; clear:both; overflow:hidden;}
#Pt_login .login_close { width:25px; height:25px; float:right; overflow:hidden;}
#Pt_login form { width:356px; height:195px; float:left; padding-left:48px; padding-top:30px;}
#Pt_login .login_inp { width:282px; height:25px; float:left; clear:both; overflow:hidden; margin-bottom:16px;}
#Pt_login .login_inp label { width:66px; height:25px; float:left; line-height:25px; text-align:right; color:#434343; padding-right:6px; font-size:14px;}
#Pt_login .brk { margin-bottom:5px;}

.login_inp input { width:202px; height:23px; float:left; border:1px solid #d0cfd0; padding:0 3px; line-height:23px; color:#a0a0a0; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.login_inp2 { width:210px; height:18px; float:left; clear:both; overflow:hidden; font-size:12px; padding-left:72px;}
.login_inp2 input { margin:0; padding:0 ; border:none;}
.login_inp2 * { vertical-align:middle;}

.login_error {width:210px; height:25px; float:left; clear:both; overflow:hidden; font-size:12px; padding-left:72px; color:#F00; line-height:25px;}


.login_inp3 { width:250px; height:33px; float:left; clear:both; overflow:hidden; margin-bottom:16px; padding-left:32px;}
.login_inp3 input { width:102px; height:33px; float:left; overflow:hidden; background:url(../images/g_login.gif) no-repeat; cursor:pointer; border:none;}
.login_inp3 a { width:102px; height:33px; float:left;overflow:hidden; background:url(../images/g_reg.gif) no-repeat; cursor:pointer; margin-left:6px;}




.error_x { width:429px; height:215px; background:url(../images/nick_cont.gif) bottom repeat-x #FFF; padding:26px 0 0 26px; display:inline; margin:55px 0 200px 132px;}
.error_x .ero_cont { width:260px; height:190px; float:left; background:url(../images/beiju.gif) no-repeat 20px 30px; padding-left:130px;}
.error_x .ero_cont h2 { width:260px; height:60px; text-align:center; color:#900; line-height:60px; font-size:14px; float:left;}
.ero_bts { width:230px; height:32px; float:left; clear:both; overflow:hidden; padding-left:30px;}
.er_back { width:94px; height:32px; float:left; background:url(../images/g_bindex.gif) no-repeat;}
.er_back2 { width:94px; height:32px; float:left; background:url(../images/g_bover.gif) no-repeat; margin-left:10px;}
.error_x .ero_cont p { width:260px; height:50px; line-height:50px; text-align:center; color:#666;}
.error_x .ero_cont p span { padding-right:10px;}
.error_x .text { width:260px; float:left; clear:both; font-size:12px; text-align:center; padding:10px 0; line-height:22px; color:#666;}




.error_x2 { width:429px; height:215px; background:url(../images/nick_cont.gif) bottom repeat-x #FFF; padding:26px 0 0 26px; display:inline; margin:55px 0 200px 262px;}
.error_x2 .ero_cont { width:260px; height:190px; float:left; background:url(../images/beiju.gif) no-repeat 20px 30px; padding-left:130px;}
.error_x2 .ero_cont h2 { width:260px; height:60px; text-align:center; color:#900; line-height:60px; font-size:14px; float:left;}
.ero_bts { width:230px; height:32px; float:left; clear:both; overflow:hidden; padding-left:30px;}
.er_back { width:94px; height:32px; float:left; background:url(../images/g_bindex.gif) no-repeat;}
.er_back2 { width:94px; height:32px; float:left; background:url(../images/g_bover.gif) no-repeat; margin-left:10px;}
.error_x2 .ero_cont p { width:260px; height:50px; line-height:50px; text-align:center; color:#666;}
.error_x2 .ero_cont p span { padding-right:10px;}
.error_x2 .text { width:260px; float:left; clear:both; font-size:12px; text-align:center; padding:10px 0; line-height:22px; color:#666;}



.nav_scont { width:100%; height:84px; clear:both; overflow:hidden; background:url(../images/nab_inbg.jpg) repeat-x;}
#Nav_s { width:950px; height:84px; margin:0 auto; clear:both;}
#Nav_s .logo { width:176px; height:69px; float:left; margin-left:9px; margin-right:10px; margin-top:6px;}
#Nav_s li { width:151px; height:47px; float:left; margin-top:20px;}
#Nav_s li a { width:151px; height:47px; float:left;}
#Nav_s li a span { display:none}


.nv1 a:link,.nv1 a:visited {background:url(../images/index_nav.jpg) no-repeat 0 top;}
.nv1 a:active,.nv1 a:hover {background:url(../images/index_nav.jpg) no-repeat 0 bottom;}
.nv2 a:link,.nv2 a:visited {background:url(../images/index_nav.jpg) no-repeat -151px top;}
.nv2 a:active,.nv2 a:hover {background:url(../images/index_nav.jpg) no-repeat -151px bottom;}
.nv4 a:link,.nv4 a:visited {background:url(../images/index_nav.jpg) no-repeat -302px top;}
.nv4 a:active,.nv4 a:hover {background:url(../images/index_nav.jpg) no-repeat -302px bottom;}
.nv3 a:link,.nv3 a:visited {background:url(../images/index_nav.jpg) no-repeat -453px top;}
.nv3 a:active,.nv3 a:hover {background:url(../images/index_nav.jpg) no-repeat -453px bottom;}
.nv5 a:link,.nv5 a:visited {background:url(../images/index_nav.jpg) no-repeat right top;}
.nv5 a:active,.nv5 a:hover {background:url(../images/index_nav.jpg) no-repeat right bottom;}





.yx{ width:600px; height:170px;}
.ul{ margin:5px;} 
.yx_left{float:left;width:160px; height:160px; margin-right:430px;}
.yx_cn{ width:160px; height:160px;}
.yx_right{ float:right;width:160px; height:160px; margin-left:430px;}


.xw{ font-size:14px;}
.xw li{ line-height:20px; font-size:14px; width:680px; height:30px;}
*{margin:0;padding:0; font-size:12px;}
		.com{
			width: 730px;
			height: 262px;
			overflow: hidden;
			position: relative;
			background: black
		}
		.com ul{width:3000px;font-size:0;}
		.com ul li{vertical-align:bottom;height:262px;overflow:hidden;float:left;vertical-align:bottom;list-style:none;overflow:hidden}
		.com ol{position:absolute;right:10;bottom:20px;;z-index:10;list-style:none;height:21px; padding-left:600px;}
		.com ol li{width:15px;background:white;border:1px solid #74A8ED;border-radius:10px;color:#74A8ED;cursor:pointer;float:left;font:12px Arial;height:15px;margin:2px 3px;text-align:center;}
		.com ol li.on{height:19px;width:19px;background:#74A8ED;border:1px solid #EEEEEE;color:#FFFFFF;font-size:16px;font-weight:bold;line-height:19px;margin:0 3px;}
		
		


#neiye_pay_left_infor_t1{  overflow:hidden; zoom: 1; margin-top:30px; margin-left:30px;}
#neiye_pay_left_infor_t1 .paytitle{overflow:hidden;zoom:1;width: 720px; margin:0px auto;border-bottom: 1px #cecece dashed;padding: 5px 0px 8px 5px;}
#neiye_pay_left_infor_t1 .span{background: url("../images/titile_qb.png") no-repeat scroll 0 9px transparent;
    color: #454545;
    float: left;
    font-weight: bold;
    padding-left: 10px;}
.neiye_pay_left_infor_c_1_c ul{ margin:0; padding:0; position: relative; zoom: 1;}
.neiye_pay_left_infor_c_1_c ul li{ list-style:none; width: 510px; float:left; margin-bottom: 12px;}
.neiye_pay_left_infor_c_1_c ul li .name{ width:120px; height: 30px; float:left;text-align:right; line-height: 30px; overflow:hidden; color: #888;}
.neiye_pay_left_infor_c_1_c ul li .zh{ width: 210px; height: 30px; float:left;overflow:hidden; background: url(../images/payImg.png) no-repeat 5px -321px; padding-left: 5px;}
.neiye_pay_left_infor_c_1_c ul li .zh input{margin: 5px 0px 0px 10px;padding:0px;border:none;background:none;line-height:20px; height:20px;width:190px; outline:none;}
.neiye_pay_left_infor_c_2{ width:530px;float:left; margin-left:15px; margin-top: 20px; height: 35px; display: inline;}
.neiye_pay_left_infor_c_2 .pay{ width: 130px; height: 35px; margin: 0px auto;}
.neiye_pay_left_infor_c_2 .pay .tjBtn{border: none !important;margin: 0px;padding: 0px;width: 130px;height: 35px;text-indent: -999em;background: url(../images/payImg1.png) no-repeat -91px -281px;cursor: pointer;display: block;}
#gameSet{float:left;height:30px; overflow:hidden;}
#gameSet a{float:left;display:inline;width: 200px; height: 30px; overflow:hidden;background:url(../images/payImg.png) no-repeat 0px -321px;color: #333;padding-left: 10px;}
#gameSet b{float:left;display:inline;width:90px; height:30px; overflow:hidden;cursor: pointer;background:url(../images/payImg1.png) no-repeat 0px -255px;margin-left: 10px;}
#qfSet a{float:left;display:inline;width: 200px; height:30px; overflow:hidden;background:url(../images/payImg.png) no-repeat 0px -321px;padding-left: 10px;color: #333;}
#qfSet b{float:left;display:inline;width:90px; height:30px; overflow:hidden;background:url(../images/payImg1.png) no-repeat 0px -286px;cursor: pointer;margin-left: 10px;}
