@charset "utf-8";
.cent_box{ overflow:hidden; padding:5px 0px;} 
.mar1{ margin-right:12px;}
.yxzl_left{ width:229px; overflow:hidden; margin-top:10px;}
    .yxleft_top{ width:229px; height:26px; overflow:hidden; background:url(../images/fwq_new.jpg) no-repeat 0px 0px; line-height:26px; font-weight:bold; font-size:14px; color:#fff; text-indent:20px;}
    .yxleft_cent{ width:227px; overflow:hidden; border:1px solid #bbdef5;}
    .yx_fn11{ height:30px; background:url(../images/yxzl.gif) no-repeat -1px -26px; line-height:30px; text-indent:20px; font-weight:bold; color:#015fbf; clear:both;}
    .yz_fn22{ padding:10px 15px 10px 15px; overflow:hidden;}
        .yz_tjyx ul{}
        .yz_tjyx li{ height:78px; overflow:hidden;}
        .yxtu_box{ width:57px; height:57px; padding:5px; background:url(../images/yxzl_17.jpg) no-repeat;}
        .yxtu_zi{ width:120px; height:67px; line-height:21px; padding-left:8px;}
        .yx_yxps ul{}
        .yx_yxps li{ width:98px; height:24px; line-height:24px;}
    .Same{width:18px; height:18px; overflow:hidden; float:left; margin-top:4px; margin-right:5px; _margin-right:0;}
  


.yxzl_right{ width:727px; border:1px solid #c8d5e0;}
/*游戏资料*/
.yxjs_top{ height:260px;}
    .yxjstu{ width:405px; height:252px; border:1px solid #fff;}
    .yxjstu_11{ width:300px; height:140px; overflow:hidden; border-bottom:1px dashed #dadada; padding-top:10px;}
    .yxjstu_tit{width:300px; height:23px;}
    .yxjstu_22{ width:300px; height:123px; padding-top:10px; overflow:hidden; line-height:21px; }
            .yxjstu_11 P{ line-height:22px;}
            .yxjstu_11 P b{ color:#2b7fd5;}
        .yxjs_bot{ width:59px; height:20px; line-height:20px; background:url(../images/fwq_new.jpg) 0px -48px no-repeat; margin-right:6px;  font-weight:bold; color:#dbf8fc; text-align:center; margin-top:5px;}
    .yxzn{height:222px; overflow:hidden; border:1px solid #bbdef5;}
        .yxzn_bt{ background:url(../images/yxzl_20.jpg) repeat-x; height:29px; width:717px; font-size:14px; font-weight:bold; color:#015fbf;
        padding-left:10px; line-height:29px; overflow:hidden;}
        .yxzn_nr{ height:161px;width:717px; }
        .yxzn_zb{ width:93px; height:161px;}
            .yxzn_zb li{ background:url(../images/fwq_new.jpg) 0px -115px no-repeat; width:77px; height:25px; text-align:center; line-height:23px;color:#FFF; font-weight:bold; margin:15px 0 0 12px;}
        .yxzn_yb{ width:624px; height:161px;}
            .yxzn_yb li{ height:18px; color:#595959; border-bottom:1px dashed #bdbdbd; margin:20px 10px;}
            .yxzn_yb a{padding:0px 5px;color:#595959;text-decoration:none;}
            .znlink a:link, .znlink a:visited{ color:#595959; text-decoration:none;}
            .znlink a:hover, .znlink a:active{ color:#015fbf;text-decoration:underline;}
        .yxgl{ height:260px;border:1px #bbdef5 solid; overflow:hidden;}
        .yxgl_nr{}
            .newsbox{ margin:10px 12px; width:691px;}
            .newsbox li{ background:url(../images/icq.gif) left no-repeat; line-height:30px; height:33px; border-bottom:1px dashed #bdbdbd; padding-left:12px;}
        .yxmt{ height:182px; border:1px #bbdef5 solid; overflow:hidden;}
        .yxmt_nr{height:153px;}
            .piclist{ width:690px; margin:15px auto; height:123px;}
            .piclist li{ width:230px; height:123px; float:left;}
            .pic_tu{ width:221px; height:119px;}
            
            /*服务器列表*/
            .tjfwq{ width:265px; height:234px; background:#fff;}
            .tjfwq_nr{ width:252px; margin:10px auto;}
            .tjfwq_bt{ width:252px; height:34px; background:url(../images/kflb.jpg) -1px -54px no-repeat;}
            .tjlist{width:252px;}
            .tjlist li{ background:url(../images/kflb.jpg) -1px -126px no-repeat; width:252px; height:28px; line-height:28px; margin: 8px 0px 0px 0px; text-align:center; color:#595959;}
            .xzfwq{border:1px solid #bbdef5;}
            .xz_nr{width:713px; margin:10px auto; overflow:hidden;}
            .xz_top{ width:703px; height:32px; border-bottom:1px solid #d5dee5;}
                .xz_top_zb{ width:500px; height:32px;}
                .xz_top_zb li{ float:left;line-height:32px; text-align:center; font-weight:bold; margin-right:5px;}
            .fwq1{ width:102px; height:32px; float:left; background:#e1f2fe;}
            .fwq1_bs{ width:102px; height:32px; float:left; background:url(../images/kflb.jpg) -1px -21px no-repeat;}
            .xz_top_yb{ width:200px; height:32px;line-height:32px; color:#015fbf;}
            .xz_top_yb a{ padding:0 6px;}
            .list_nr{ width:700px; margin:0 auto; padding-top:20px;}
            .list_jr{height:32px; background:#ecf5fc; border:1px solid #b9d8f7; line-height:32px; color:#015fbf; padding-left:10px;}
            .inpt{}
            .inpt input{ width:100px; height:20px; background:#fff; border:0px; padding:0px 5px; line-height:20px; border:1px solid #b9d8f7; color:#7b7b7b; margin-top:5px;}
            .btn_jran{ background:url(../images/kflb.jpg) 0px 0px no-repeat; width:64px; height:20px; margin: 6px 0px 0px 10px; overflow:hidden; display:block;}
                
            .list_add{width:700px; height:auto!important;  overflow:hidden; min-height:450px;}
            .list_add ul{ width:720px; }
            .list_add ul li{ background:url(../images/fwq_btn.jpg) 0 0 no-repeat; width:224px; height:27px; float:left; line-height:27px; text-align:center; margin:10px 14px 0 0;}
            .list_add ul li:hover{ background-position:0 -27px;}
            .list_add span{ padding-left:10px;}
        


/*添加css*/
.tj_cent{width:227px; height:355px; border:1px solid #c9d9e6;}
.tj_cent dl{height:61px; background:url(../images/fwq_new.jpg) -227px -140px; padding-top:10px;}
.tj_cent dl .tj_cent_pic{height: 49px; margin:0 0 0 20px;width: 50px; float:left; display:inline;}    
.tj_cent dl .tj_cent_txt{width:130px; margin-left:12px; line-height:20px; float:left; padding-top:2px;}
.tj_cent dl.cative{background:url(../images/fwq_new.jpg) 0 -140px;}

     
    .tj_cent ul li{ width:227px; height:71px; background:url(../images/fwq_new.jpg) -227px -140px; overflow:hidden; float:left; cursor:pointer;}
    .tj_cent ul li a{ width:227px; height:71px;  display:block; cursor:pointer;}
    .tj_cent .li_bs{ background:url(../images/fwq_new.jpg) 0 -140px; }
    .tj_tp{ width:50px; height:49px; padding:10px 0 0 20px; overflow:hidden;}
    .tj_text{ width:94px; height:37px; padding:12px 45px 0 0;}
        .tj_text{ line-height:20px;}
    .tp_after{ width:49px; height:50px; padding:10px 0 0 21px; overflow:hidden;}     
    .text_org{ color:#e46622;}
    .star_tj{ width:116px; height:20px; padding-left:5px;}
    .tj_jr{ background:url(../images/fwq_new.jpg) 0 -28px; width:79px; height:20px; margin-right:6px;  margin-top:5px;}
    .tj_jr a{ width:79px; height:20px; margin-right:6px; text-indent:-999px; display:block;}
    .fwq_col{ color:#2b7fd5;}
    .fwq_btn{ background:url(../images/fwq_new.jpg) 0 -68px; width:292px; height:47px; display:block;}
        .fwq_btn p{ line-height:42px; text-indent:60px;}
        .fwq_btn span{ color:#fcff00; padding-left:10px;}
    .btn_qh{ border-bottom:1px solid #cccccc; height:25px;}
    .yxzl_btn_bs{ background:url(../images/fwq_new.jpg) -1px -215px; width:114px; height:26px; margin-left:10px; display:block;}
    .yxzl_btn{ background:url(../images/fwq_new.jpg) -1px -243px; width:114px; height:26px; margin-left:10px; display:block;}
    .syfwq_btn{ background:url(../images/fwq_new.jpg) -115px -215px; width:114px; height:26px; display:block;}
    .syfwq_btn_bs{ background:url(../images/fwq_new.jpg) -115px -243px; width:114px; height:26px; display:block;}
    

/*活动中心*/
    .hd_cent{ width:968px; height:346px; border:1px solid #b0cee6;}
        .hd_cent img{ border:1px solid #fff;}
    .hd_bot{ background:url(../images/zp_bot.png) repeat-x; width:968px; height:68px; position:absolute; top: 278px;}
    .hd_text{ height:46px; width:426px; padding:10px 0 0 20px; line-height:22px;}
    .zp_list{ height:64px; max-width:414px; overflow:hidden; margin-right:15px;}
        .zp_list ul{}
        .zp_list ul li{width:57px; height:51px; border:1px solid #fff; float:left; margin:10px 0 0 10px; overflow:hidden; display:inline;}
        .zp_list ul li.active{float:left; background:url(../images/hd.gif) -6px -1px; width:59px; height:60px; border:none; margin-top:4px;}
        .zp_list ul li.active img{border:none; margin:8px 0 0 2px;}
        .hd_jx,.hd_js{ width:483px; height:37px; text-align:center; line-height:37px; font-weight:bold; font-size:14px; }
    .hd_jx{ background:url(../images/jx_hd.gif) repeat-x; border:1px solid #bddaf8; border-bottom:none; color:#900; text-align:center;}
    .hd_js{ background:url(../images/js_hd.gif) repeat-x; border-right:1px solid #a6caee; border-bottom:1px solid #a6caee; border-left:1px solid #fff; border-top:1px solid #deeefe; color:#0054a6;}
    .hd_list{}
        .hd_list ul{ padding-top:20px;}
        .hd_list ul li{ height:150px; border-top:2px solid #ced9eb; position:relative; overflow:hidden; width:970px;}
        .hd_tp{ width:289px; height:124px; border:1px solid #cfdaec; margin:11px 0;}
            .hd_tp img{ border:2px solid #fff;}
            .sign_hot,.sign_new{ background:url(../images/sign.gif) no-repeat; width:45px; height:44px; left:0; position:absolute; top:11px;  }
            .sign_new{ background-position:0 -48px;}
        .hd_txt{ width:408px; height:128px; padding:10px 10px 0 10px; overflow:hidden;}
            .hd_txt p{ line-height:20px;}
        .hd_hui{ color:#3e3a39; font-family:"微软雅黑"; font-size:16px; font-weight:bold; padding-bottom:5px;}
        .hd_org{ color:#fe6d00; padding-top:5px;}
        .hd_btn{ height:112px; border-left:1px dashed #CCC; margin:10px 0 0 14px; width:220px;}
        .jinx_btn,.jxxs_btn,.yjs_btn{ background:url(../images/hd.gif) no-repeat; width:182px; height:43px; display:block; margin:29px 0 0 30px; overflow:hidden;}
        .jinx_btn{ background-position: -74px 0; }
        .jinx_btn:hover{ background:url(../images/hd.gif) -74px -43px;}
        .jxxs_btn{ background-position: -257px -43px;}
        .yjs_btn{ background-position: -257px 0;}
    
        /* #################### 翻页 ##################### */
.pages { PADDING:0px; MARGIN:0px; padding-left:10px; float:right;}
.pages A {
    BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; COLOR: #2b2b2b; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid; TEXT-DECORATION: none;
}
.pages A:hover {
    BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid;color:#2b2b2b;BACKGROUND-COLOR: #e3f5ff;
}
.pages A:active {
    BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid;
}
.pages SPAN.current {
    BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; COLOR: #2b2b2b; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid; BACKGROUND-COLOR: #e3f5ff;
}
.pages SPAN.disabled {
    BORDER-RIGHT: #B6B6B6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #B6B6B6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #B6B6B6 1px solid; COLOR: #B6B6B6; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #B6B6B6 1px solid;
}
.pages_list { width: 968px; line-height:18px; padding: 10px 0; margin:0 auto; overflow:hidden; border-top:1px solid #CCC;}
.pages_list_r {    float:right; margin: -18px 10px 0 0; color:#059ccb;}
.jump_input { width: 28px; height:15px; PADDING-left: 3px;}

.fwq_more{ width:168px; height:34px; margin:15px auto; display:block;}
  
#jsb_p ul li{ height:346px; overflow:hidden;  margin:0;}

.yxzl_right1{ width:327px;  float:right; margin-top:-26px;}
.yxgl_nr{}
.newsbox{ margin:10px 12px; width:291px;}
.newsbox li{ background:url(../images/icq.gif) left no-repeat; line-height:30px; height:33px; border-bottom:1px dashed #bdbdbd; padding-left:12px;}
			
			
/* #################### 翻页 ##################### */
.pages { PADDING:0px; MARGIN:0px; padding-left:10px; padding-bottom:5px;font-family:Arial, Helvetica, sans-serif,"宋体"; font-size:12px;}
.pages A {
	BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; COLOR: #2b2b2b; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid; TEXT-DECORATION: none;
}
.pages A:hover {
	BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid;color:#2b2b2b;BACKGROUND-COLOR: #e3f5ff;
}
.pages A:active {
	BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid;
}
.pages SPAN.current {
	BORDER-RIGHT: #97dcfd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #97dcfd 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #97dcfd 1px solid; COLOR: #2b2b2b; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #97dcfd 1px solid; BACKGROUND-COLOR: #e3f5ff;
}
.pages SPAN.disabled {
	BORDER-RIGHT: #B6B6B6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #B6B6B6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #B6B6B6 1px solid; COLOR: #B6B6B6; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #B6B6B6 1px solid;
}
.pages_list { width: 700px; line-height:21px; padding: 18px 0 0px 0; margin: 0; overflow:hidden;}
.pages_list_r {	float:right; margin: -18px 10px 0 0; color:#059ccb;}
.jump_input { width: 28px; height:15px; PADDING-left: 3px;}
/* #################### 翻页 ##################### */
